*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*
run/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/theme/*
tags
Keras.egg-info

# test-related
.coverage
.cache

# developer environments
.idea
